body {
    background-color:#0827F5;
    color:white;
}

.title {
    color: white;
}

.text {
    color: white;
}

a:link {
    color:whitesmoke;
    text-decoration: underline;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8);
    gap: 5px;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}